$ cat .gitignore
MiscProjects/
/MuC.X/nbproject/private/
/MuC.X/build/default/
/MuC.X/dist/default/
nbproject/
build/
debug/
dist/
ServoLoop Driver Programs/
*.save
.gitignore~
pkglist
ipe.properties
